<head>
<%- include('header'); -%> 
  </head>
  <div class="container-fullwidth">
    <nav class="navbar fixed-top navbar-inverse">
      
        <a class="navbar-brand" href="/">Home</a>
          
      <div class="collapse navbar-collapse js-navbar-collapse">
            
          <ul class="nav navbar-nav navbar-right">
            <% if(user) { %>
                <li><a href="/">Dashboard</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/users/profile"><%=user.username%> Profile</a></li>
                      <li><a href="/users/editprofile">Edit Profile</a></li>
                    </ul>
                </li>
                <li><a href="/users/logout" style="float:right;">Logout</a></li>
            <% }else{ %>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/signup">Register</a></li>
                <% } %>
        </ul>
      </div>
    </nav>
  </div>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
            $(this).toggleClass('open');       
        }
    );
});
</script>  