<!doctype html>
<html>
<head>
    <title>provider</title>
    <%- include('header'); -%>
    <%- include('layout'); -%>
</head>
<body>
        <% if(typeof errors == 'object' && errors){ %>
            <% errors.forEach(function(errors){ %>
                <p class="alert alert-danger">
                    <%= errors.msg %>
                </p>
            <% }); %>
        <% } %>
        <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                
                    <h1> Enter Your Pg Details</h1>
                
                  
                    <!-- LOGIN FORM -->
                    <form action="/users/provider" method="post">
                        <div class="form-group">
                            <label>Enter Pg Name:</label>
                            <input type="text" class="form-control" name="pgname">
                        </div>
                        <div class="form-group">
                            <label>Enter address:</label>
                            <input type="text" class="form-control" name="address">
                        </div>
                        <div class="form-group">
                            <label>No Of Rooms:</label>
                            <input type="text" class="form-control" name="numberofrooms">
                        </div>
                        <div class="form-group">
                            <label>State:</label>
                            <input type="text" class="form-control" name="state">
                        </div>
                        <div class="form-group">
                            <label>City:</label>
                            <input type="text" class="form-control" name="city">
                        </div>
                        <div class="form-group">
                            <label>Pg Phone No:</label>
                            <input type="text" class="form-control" name="pgphoneno">
                        </div>
                        <div class="form-group">
                            <label>Type:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="roomtype" id="single" value="single" checked>
                                <label class="form-check-label" for="single">Single</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="roomtype" id="shared" value="shared">
                                <label class="form-check-label" for="shared">Shared</label>
                              </div>
                        </div>
                        <div class="form-group">
                            <label>Rooms For:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="roomfor" id="boy" value="boy" checked>
                                <label class="form-check-label" for="boy">Boy</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="roomfor" id="girl" value="girl">
                                <label class="form-check-label" for="shared">Girl</label>
                              </div>
                        </div>


                        <div class="form-group">
                            <label>Price:</label>
                            <input type="text" class="form-control" name="roomprice">
                        </div>
                        <div class="form-group">
                            <label>Amenities:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="breakfast" id="breakfast">
                                <label class="form-check-label" for="breakfast">Breakfast</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="lunch" id="lunch">
                                <label class="form-check-label" for="lunch">Lunch</label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="dinner" id="dinner">
                                <label class="form-check-label" for="dinner">Dinner</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="housekeeping" id="housekeeping">
                                <label class="form-check-label" for="housekeeping">Housekeeping</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="wifi" id="wifi">
                                <label class="form-check-label" for="wifi">Wifi</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="parking" id="parking">
                                <label class="form-check-label" for="parking">Parking</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="hotwater" id="hotwater">
                                <label class="form-check-label" for="hotwater">Hot Water</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="laundry" id="laundry">
                                <label class="form-check-label" for="laundry">Laundry</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="tv" id="tv">
                                <label class="form-check-label" for="tv">TV</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="ac" id="ac">
                                <label class="form-check-label" for="ac">AC</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="gym" id="gym">
                                <label class="form-check-label" for="gym">Gym</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="miniralwater" id="miniralwater">
                                <label class="form-check-label" for="miniralwater">Miniral Water</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="amenities" value="security" id="security">
                                <label class="form-check-label" for="security">Security</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Upload Images:</label>
                            <div class="btn btn-default">
                                <input id="uploadimages" name="uploadimages" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                            </div>
                        </div>
    
    
                        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                    </form>           
                </div>
                </div>
            </body>
</html>