<!DOCTYPE html>
<html>
  <head>
    <title>sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/socialbtn.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepicker.en.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
      background-color: black;
      }
    </style>
  </head>
  <body>
<nav class="navbar fixed-top navbar-expand-md bg-company-black">
        <h1><a class="navbar-brand" href="/" id="link1">PG Finder</a></h1>
        <div class="collapse navbar-collapse navbar-element">
          <ul class="navbar-nav ml-auto">
            <% if (user) { %>
            <li class="nav-item active">
              <a class="nav-link" id="link4">Please, Complete Your Profile!</a>
            </li>
            <% } else { %>
            <li class="nav-item active">
              <a class="nav-link" id="link3">Already Registered?</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="link4" href="/signin">Sign In</a>
            </li>
            <% } %>
          </ul>
        </div>
      </nav>
      <form id="regForm" action="/signup" method="post">
        <div class="tab">
        <h1>Personal Information</h1>
        <br>
        <p>Name</p>
        <p><input placeholder="Name" name="name"></p>
        <p>
        <p>Gender<span style="display:inline-block; width:110px;"></span>Date of Birth</p>
        <select name="gender" >
          <option disabled selected value>Select</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        &nbsp;
        <input type="text" id="date" placeholder="mm/dd/yyyy" class="datepicker-here" data-language='en' name="dob">
        </p>
        <p>Phone Number</p>
        <p><input placeholder="Phone Number" name="num"></p>
        <p>Email</p>
        <p><input placeholder="Email" name="email"></p>
        <p>Password</p>
        <p><input type="password" placeholder="password" name="pwd"></p>
        
        <br>
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="submit" id="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>