<!DOCTYPE html>
<html lang="en">
<head>
  <title>Room Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <style type="text/css">
      body {
      background-color: black;
      }
    </style>
</head>
<body>
      <nav class="navbar fixed-top navbar-expand-md bg-company-black">
        <h1><a class="navbar-brand" href="/">PG Finder</a></h1>
        <div class="collapse navbar-collapse navbar-element">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" id="link1" href="/">Find a Room</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/postroom" id="link2">Post a Room</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="link3">Don't have an account ?</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="link4" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    <br><br><br><br><br>
  <form id="regForm" action="/signin" method="post">
    <div class="tab">
    <h1>LogIn Information</h1>
    <br>
    <p>Email</p>
    <p><input placeholder="Email"name="email" id="email"></p>
    <p>
    <p>Password</p>
    <p><input type="password" placeholder="Password" name="pwd" id="pwd"></p>
    <br>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="submit" value="Submit">LogIn</button>
      </div>
    </div>
  </div>
  </form>
</body>
</html>